  <%- include('../partials/header') %>
    
  <h1><%=title%></h1>4
    <img src="../images/about.jpg" alt="My Image">
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
            <!--  views/partials/footer.ejs starts here  -->
   
   <%- include('../partials/footer') %>