   
<%- include('../partials/header') %>


    
  <h1><%=title%></h1>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
            <!--  views/partials/footer.ejs starts here  -->
   
   <%- include('../partials/footer') %>